.h2,
.h4 {
  margin-bottom: 25px;
  font-size: 28px;
  color: $blue;
  line-height: 1.1;
  font-weight: normal;
}

.h4 {
  margin-bottom: 20px;
  font-size: 18px;
}

.txt-tag {
  margin-bottom: 30px;
  text-transform: uppercase;
  color: #a5a5a5;
  font-family: $font-family-OpenSans;
  font-weight: 300;
  font-size: 18px;

  .icon {
    flex-shrink: 0;
  }
}

.txt-link {
  color: #bc9c50;
  text-decoration: none;
  font-weight: 300;
  font-family: $font-family-OpenSans;
  font-size: 22px;
}

@include media-breakpoint-up(sm) {
  .h2 {
    margin-bottom: 40px;
    font-size: 48px;
  }

  .h4 {
    font-size: 22px;
  }
}
