.icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-size: 18px 18px;

  &-star {
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5035 1.21106L12.7222 8.39547H19.9048L14.0948 12.8362L16.3135 20.0206L10.5035 15.5799L4.68636 20.0206L6.90512 12.8362L1.09509 8.39547H8.27762L10.5035 1.21106Z' stroke='%23BC9C50' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
  }

  &-comment {
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='21' viewBox='0 0 23 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.2339 16.9637H5.98527C5.36931 16.9637 4.7882 17.2104 4.38143 17.6476L1.95243 20.204C1.4643 20.7085 0.592651 20.3834 0.592651 19.6882V2.66846C0.592651 1.50241 1.5689 0.560608 2.77759 0.560608H20.2455C21.4542 0.560608 22.4304 1.50241 22.4304 2.66846V14.8559C22.4188 16.0219 21.4426 16.9637 20.2339 16.9637Z' stroke='%23BC9C50' stroke-miterlimit='10'/%3E%3Cpath d='M5.41577 5.93115H17.584' stroke='%23BC9C50' stroke-miterlimit='10'/%3E%3Cpath d='M5.41577 9.33957H17.584' stroke='%23BC9C50' stroke-miterlimit='10'/%3E%3Cpath d='M5.41577 12.748H12.6563' stroke='%23BC9C50' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
  }
}
