.section-intro {
  position: relative;
}

.swiper-intro {
  position: relative;
  margin-bottom: 60px;

  .swiper-slide__inner {
    height: 100vh;
    background-size: cover;
    background-position: center;
  }
}

.container-intro-thumbs {
  display: none;
  position: absolute;
  z-index: 10;
  right: 0;
  left: 0;
  bottom: 60px;
}

.swiper-intro-thumbs {
  width: 485px;
  margin: 0 0 0 auto;

  .swiper-slide {
    width: 150px;
    height: 85px;
    background-size: cover;
    background-position: center;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 0px 0px 1px $white inset;
    }

    &-thumb-active {
      border: 3px solid $white;
      &:hover {
        box-shadow: none;
      }
    }
  }
}

.intro-content {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 70px;
  padding: 0 0 10px 0;
  color: #fff;

  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: -150px;
    right: 0;
    top: -80px;
    bottom: -50px;
    background: radial-gradient(
      47.12% 40.85% at 50% 50%,
      #002349 54.17%,
      rgba(0, 35, 73, 0) 100%
    );
    opacity: 0.95;
  }

  &__inner {
    max-width: 560px;
  }
}

.intro-price {
  font-family: $font-family-OpenSans;
  font-weight: 600;
  font-size: 20px;
}

.intro-title {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: normal;

  &--sm {
    font-family: $font-family-OpenSans;
    font-weight: 300;
    font-size: 22px;
  }
}

@include media-breakpoint-up(sm) {
  .intro-title {
    font-size: 48px;

    &--sm {
      font-size: 24px;
    }
  }

  .intro-price {
    font-size: 24px;
  }
}

@include media-breakpoint-up(xl) {
  .container-intro-thumbs {
    display: block;
  }

  .swiper-intro {
    .swiper-pagination {
      display: none;
    }
  }
}
