.header {
  &--fixed {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
  }

  &-inner {
    display: none;
    background-color: $blue;
    padding: 20px 0;
    font-size: 16px;
    font-family: $font-family-OpenSans;
  }

  &-row {
    display: flex;
    justify-content: space-between;
  }

  &-left {
    display: flex;
  }

  &-logo {
    display: block;
    width: 360px;

    img {
      display: block;
      max-width: 100%;
    }
  }

  &-list {
    display: flex;
    margin: 0 0 0 25px;
    padding: 0;

    li {
      margin-left: 20px;
    }

    &__link {
      color: $white;
      font-family: $font-family-OpenSans;
      text-decoration: none;

      &:hover {
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }

  &-link {
    display: inline-flex;
    align-items: center;
    color: #bc9c50;
    font-family: $font-family-OpenSans;
    text-decoration: none;

    .icon {
      margin-right: 10px;
    }
  }

  &-lang {
    position: relative;
    font-family: $font-family-OpenSans;

    &:hover {
      .header-lang-switch {
        opacity: 1;
        visibility: visible;
        transform: translate(0, 5px);
      }
    }

    &__curr {
      display: flex;
      color: $white;
      cursor: pointer;

      &:after {
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
        content: "";
        display: block;
        height: 10px;
        margin-left: 15px;
        transform-origin: 66% 66%;
        transform: rotate(45deg);
        width: 10px;
      }
    }
    &__link {
      display: block;
      margin: 10px 0;
      color: $blue;
      text-decoration: none;
    }
    &-switch {
      position: absolute;
      z-index: 1;
      top: 100%;
      right: 0;
      width: 145px;
      padding: 10px 15px;
      background-color: $white;
      border-radius: 5px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      opacity: 0;
      visibility: hidden;
      transition: ease-in 0.3s;
      transform: translate(0, 25px);
    }
  }
}

.nav {
  padding: 50px 0;
  background: linear-gradient(0deg, rgba(0, 35, 73, 0) 5.45%, #002349 93.63%);

  &-menu {
    display: none;

    &__link {
      margin-left: 40px;
      color: $white;
      text-decoration: none;
      font-family: $font-family-OpenSans;
      font-size: 24px;

      &:hover {
        color: rgba(255, 255, 255, 0.6);
      }

      &:first-child {
        margin-left: 0;
      }
    }

    &__btn {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-shrink: 0;
      width: 50px;
      height: 18px;
      margin-left: 20px;
      border: none;
      background: none;
      cursor: pointer;

      i {
        position: relative;
        width: 100%;
        height: 2px;
        background-color: $white;
      }
    }
  }
}

.nav-mobile {
  position: fixed;
  z-index: 102;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 255px;
  background-color: $blue;
  padding: 0 20px;
  transform: translate(-100%, 0);
  transition: transform ease-in-out 0.3s;

  &.open {
    transform: translate(0, 0);

    & + .nav-mobile-backdrop {
      visibility: visible;
      opacity: 1;
    }
  }

  &-menu {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    &__link {
      margin-bottom: 20px;
      color: $white;
      font-size: 22px;
      font-family: $font-family-OpenSans;
      text-decoration: none;

      &:hover {
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }

  &-backdrop {
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    background: rgba(0, 35, 73, 0.5);
    transition: opacity 0.2s;
  }

  .header-lang {
    margin: 0 0 40px auto;
  }
}

@include media-breakpoint-up(sm) {
  .nav-mobile {
    width: 365px;
    padding: 0 30px 0 45px;

    &-menu {
      margin-bottom: 60px;

      &__link {
        font-size: 32px;
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  .nav-mobile {
    display: none;

    &-backdrop {
      display: none;
    }
  }
  .header {
    &-inner {
      display: block;
    }
  }

  .nav {
    &-menu {
      display: flex;

      &__btn {
        display: none;
      }
    }
  }
}
