<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 mb-5">
                <a href="#" class="d-none d-xl-block"><img src="images/footer-logo-xl.svg" /> </a>
                <a href="#" class="d-xl-none"><img src="images/footer-logo-sm.svg" class="mw-100p" /> </a>
            </div>

            <div class="col-xl-8">
                <div class="footer-nav">
                    <h2 class="footer-nav__title">Недвижимость на Кипре</h2>
                    <div class="footer-nav-list">
                        <a href="#" class="footer-nav__link">Пафос</a>
                        <a href="#" class="footer-nav__link">Лимассол</a>
                        <a href="#" class="footer-nav__link">Айя-Напа</a>
                        <a href="#" class="footer-nav__link">Ларнака</a>
                        <a href="#" class="footer-nav__link">Никосия</a>
                    </div>
                </div>
                <div class="footer-social">
                    <h4 class="h4">Соцсети</h4>
                    <div class="d-flex flex-wrap">
                        <a href="#" class="footer-social__link">Facebook</a>
                        <a href="#" class="footer-social__link">Instagram</a>
                        <a href="#" class="footer-social__link">Vkontakte</a>
                        <a href="#" class="footer-social__link">LinkedIn</a>
                        <a href="#" class="footer-social__link">YouTube</a>
                        <a href="#" class="footer-social__link">Telegram</a>
                    </div>
                </div>
                <div class="footer-contacts mb-5">
                    <h4 class="h4">Контакты</h4>
                    <p class="footer-contacts__txt mb-3">
                        46 Ioanni Agroti, Central Square, 8047, Pafos, Cyprus<br />
                        Пн - Пт, 09:00-19:00
                    </p>
                    <p class="footer-contacts__txt">+357 26 080180 <a href="mailto:info@cyprus-sothebysrealty.com">info@cyprus-sothebysrealty.com</a></p>
                </div>
            </div>
        </div>
        <div class="row footer-bottom">
            <div class="col-12">
                <h4 class="mb-3">Политика конфиденциальности</h4>
                <p class="mb-3">
                   <a href="#">Sotheby’s International Realty Affiliates LLC</a> fully supports the principles of the Fair Housing Act and the Equal Opportunity Act. Each Office is Independently Owned and Operated. Sotheby’s International Realty®, the Sotheby’s International Realty logo, “For the Ongoing Collection of Life” and RESIDE are registered (or unregistered) service marks owned or licensed to Sotheby’s International Realty Affiliates LLC.
                    The information set forth on this site is based upon information which we consider reliable, but because it has been supplied by third parties to our franchisees (who in turn supplied it to us), we can not represent that it is accurate or complete, and it should not be relied upon as such. The offerings are subject to errors, omissions, changes, including price, or withdrawal without notice. All dimensions are approximate and have not been verified by the selling party and can not be verified by Sotheby’s International Realty Affiliates LLC. It is recommended that you hire a professional in the business of determining dimensions, such as an appraiser, architect or civil engineer, to determine such information.
                    Sotheby’s International Realty® is a registered trademark licensed to Sotheby’s International Realty Affiliates LLC. Each Office is independently Owned and Operated.
                    Reg No 1013 License No 517/E
                </p>
                <p>
                    Copyright ©2013-2021 Cyprus Sotheby’s International Realty®.
                    Sotheby's Auction House. All rights reserved.
                </p>
            </div>
        </div>
    </div>
</footer>
