<header class="header header--fixed">
    <div class="header-inner">
        <div class="container">
            <div class="header-row">
                <div class="header-left">
                    <span class="header-link js-link-feedback">
                        <span class="icon icon-comment"></span>
                        Напишите нам
                    </span>
                    <ul class="header-list">
                        <li><a href="#" class="header-list__link">WhatsApp</a></li>
                        <li><a href="#" class="header-list__link">Viber</a></li>
                        <li><a href="#" class="header-list__link">Telegram</a></li>
                    </ul>
                </div>
                <div class="header-right">
                    <div class="header-lang">
                        <div class="header-lang__curr">Русский</div>
                        <div class="header-lang-switch">
                            <a href="#" class="header-lang__link">English</a>
                            <a href="#" class="header-lang__link">Русский</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="nav">
        <div class="container">
            <div class="d-flex align-items-center justify-content-between">
                <a href="#" class="header-logo"> <img src="images/header-logo.svg" alt="logo"> </a>
                <div class="nav-menu">
                    <a href="#" class="nav-menu__link">Недвижимость</a>
                    <a href="#" class="nav-menu__link">Стиль жизни</a>
                    <a href="#" class="nav-menu__link">Блог</a>
                    <a href="#" class="nav-menu__link">О нас</a>
                </div>
                <button class="nav-menu__btn js-nav-btn">
                    <i></i>
                    <i></i>
                    <i></i>
                </button>
            </div>
        </div>
    </nav>

    <nav class="nav-mobile js-nav-mobile">
        <div class="header-lang">
            <div class="header-lang__curr">Русский</div>
            <div class="header-lang-switch">
                <a href="#" class="header-lang__link">English</a>
                <a href="#" class="header-lang__link">Русский</a>
            </div>
        </div>
        <div class="nav-mobile-menu">
            <a href="#" class="nav-mobile-menu__link">Недвижимость</a>
            <a href="#" class="nav-mobile-menu__link">Стиль жизни</a>
            <a href="#" class="nav-mobile-menu__link">Блог</a>
            <a href="#" class="nav-mobile-menu__link">О нас</a>
        </div>
        <span class="header-link mb-3 mb-sm-4 js-link-feedback">
            <span class="icon icon-comment"></span>
            Напишите нам
        </span>
        <ul class="header-list ml-0">
            <li class="ml-0"><a href="#" class="header-list__link">WhatsApp</a></li>
            <li><a href="#" class="header-list__link">Viber</a></li>
            <li><a href="#" class="header-list__link">Telegram</a></li>
        </ul>
    </nav>
    <div class="nav-mobile-backdrop js-nav-backdrop"></div>
</header>
