{% extends './inc/page.twig' %}

{% block content %}

<section class="section-intro">
    {% include "inc/pages/main/intro.twig" %}
</section>

<section data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-offset="200" data-aos-delay="50" data-aos-duration="800" data-aos-easing="ease-in-out">
    {% include "inc/pages/main/form-search.twig" %}
</section>

<section data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-offset="200" data-aos-delay="50" data-aos-duration="800" data-aos-easing="ease-in-out">
    {% include "inc/pages/main/info-slider.twig" %}
</section>

<section data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-offset="200" data-aos-delay="50" data-aos-duration="800" data-aos-easing="ease-in-out">
    {% include "inc/pages/main/recommended-slider.twig" %}
</section>

<section data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-offset="200" data-aos-delay="50" data-aos-duration="800" data-aos-easing="ease-in-out">
    {% include "inc/pages/main/elite-slider.twig" %}
</section>

<section data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-offset="200" data-aos-delay="50" data-aos-duration="800" data-aos-easing="ease-in-out">
    {% include "inc/pages/main/news-slider.twig" %}
</section>

<section data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-offset="200" data-aos-delay="50" data-aos-duration="800" data-aos-easing="ease-in-out">
    {% include "inc/pages/main/specialist.twig" %}
</section>

<section data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-offset="200" data-aos-delay="50" data-aos-duration="800" data-aos-easing="ease-in-out">
    {% include "inc/pages/main/feedback.twig" %}
</section>

<section data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-offset="200" data-aos-delay="50" data-aos-duration="800" data-aos-easing="ease-in-out">
    {% include "inc/pages/main/subscribe.twig" %}
</section>

{% endblock %}
