<div class="feedback bg-blue js-feedback">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 pr-xl-5 mb-sm-5">
                <h2 class="h2">
                    Бесплатная консультация
                </h2>
                <p class="feedback-txt mb-4">
                    Отправьте запрос, и&nbsp;мы&nbsp;свяжемся с вами в течение 24 часов
                </p>
            </div>

            <div class="col-xl-8">
                <form class="feedback-form">
                    <div class="feedback-form__control">
                        <input placeholder="Имя*" required class="feedback-form__input" />
                    </div>
                    <div class="feedback-form__control feedback-form__control--row mb-5">
                        <input placeholder="Электроная почта*" type="email" required class="feedback-form__input" />
                        <input placeholder="Телефон" class="feedback-form__input" />
                    </div>

                    <button type="submit" class="feedback-form__btn mb-4 mt-5">Отправить</button>

                    <p class="feedback-txt feedback-txt--sm">
                        Нажимая отправить, я соглашаюсь на условия пользовательского соглашения
                    </p>
                </form>
            </div>
        </div>


    </div>
</div>
