<div class="container container-info-slider">
    <div class="d-flex">
        <h2 class="h2">Выберите стиль жизни</h2>
    </div>

    <!-- Swiper -->
    <div class="info-slider-wrapper">
        <div class="swiper-container js-single-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="info-slide">
                        <div class="info-slide__img-wrap">
                            <div class="info-slide__img" style="background-image: url('images/content/info-slide-1.jpg')"></div>
                        </div>
                        <div class="info-slide__body">
                            <div class="info-slide__title">Первая линия</div>
                            <p class="info-slide__txt">
                                Виллы на берегу моря всегда имеют высокую рыночную стоимость по сравнению с другой недвижимостью.
                                Спрос превышает предложение, потому что береговая линия ограничена, а это означает, что стоимость
                            </p>
                            <a href="#" class="info-slide__link">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</div>
