<div class="container container-spec">
    <h2 class="h2">Специалисты по работе с недвижимостью Кипра</h2>
    <div class="row">
        <div class="col-lg-6">
            <div class="row align-items-center spec-item">
                <div class="col-md-6 col-lg-12 mb-4 mb-md-0 mb-lg-4">
                    <img alt="" src="images/content/woman.jpg" class="mw-100p" />
                </div>
                <div class="col-md-6 col-lg-12">
                    <h3 class="spec-title">Анастасия Янни</h3>
                    <p class="mb-4 mb-lg-5">
                        Руководитель офиса Sotheby’s International Realty на Кипре.
                        Опыт работы на рынке недвижимости Кипра более 20 лет, магистра по недвижимости.
                    </p>
                    <a href="#" class="spec-link">Написать в WhatsApp</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row align-items-center spec-item">
                <div class="col-md-6 col-lg-12 mb-4 mb-md-0 mb-lg-4">
                    <img alt="" src="images/content/man.jpg" class="mw-100p" />
                </div>
                <div class="col-md-6 col-lg-12">
                    <h3 class="spec-title">Александр Cемин</h3>
                    <p class="mb-4 mb-lg-5">
                        Зарегистрированный и лицензированный агент недвижимости на Кипре,
                        а также специалист по оценке и развитию недвижимости.
                    </p>
                    <a href="#" class="spec-link">Написать в WhatsApp</a>
                </div>
            </div>
        </div>
    </div>
</div>
