<div class="subscribe bg-gray">
    <div class="container">
        <h2 class="h2">
            Подпишитесь на интересные предложения на рынке недвижимости Кипра
        </h2>
        <form class="subscribe-form">
            <div class="subscribe-form__control">
                <input placeholder="Электроная почта" type="email" required class="subscribe-form__input" />
                <button type="submit" class="subscribe-form__btn">Подписаться</button>
            </div>
            <p class="subscribe-form__txt">Подписываясь, я соглашаюсь на условия пользовательского соглашения</p>
        </form>
    </div>
</div>
